<launch>
<!--    <include file="$(find mavros)/launch/px4.launch"/>-->
    <include file="$(find realsense2_camera)/launch/rs_t265.launch"/>

    <arg name="server" default="localhost"/>
    <node pkg="main_controller" type="main_fsm_node" name="main_fsm_node" output="screen">
     </node>
    <node pkg="main_controller" type="rs_remap" name="rs_remap" output="screen">
     </node>
</launch>



